@media print
{
    .noPrint
    {
        display: none !important;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        padding: 4em;
    }

    .content {
        padding: 3em;
    }

    .contact-info div {
        text-align: end !important;
    }

    .personal-content > .row {
         padding: 10px;
    }

    .product-experience-section > .row {
        padding: 10px;
    }

    .reference-container {
        padding: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .section-title {
        text-align: center !important;
    }

    .contact-info div {
        text-align: center !important;
    }
}

.font-size-1 {
    font-size: 3em;
}

.font-size-2 {
    font-size: 1.875em;
}

.font-size-3 {
    font-size: 1.25em;
}

.font-size-4 {
    font-size: 1.1em;
}

.container-fluid {
    height: 1500px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.date-range {
    font-size: .75em;
}

.header {
    background-color: #303E4C;
    color: white;
}

.name {
    text-align: center;
}

.photo {
    display: block;
    height: 200px;
    width: 200px;
}

.content {
    background-color: white;
}

.section-title {
    font-weight: bold;
    text-align: left;
}

.personal-content {
    background-color: #F1F1F3;
}

